<h1 mat-dialog-title>Product Detail</h1>
<div mat-dialog-content>
	<mat-form-field appearance="outline">
		<mat-label>Product Name</mat-label>
		<input matInput placeholder="Name">
		<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
	</mat-form-field>
	<mat-form-field appearance="outline">
		<mat-label>Product Category</mat-label>
		<mat-select placeholder="Category">
			<mat-option value="Electronics">Electronics</mat-option>
			<mat-option value="Clothing">Clothing</mat-option>
			<mat-option value="Kitchen">Kitchen</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field appearance="outline">
		<mat-label>Choose a date</mat-label>
		<input matInput [matDatepicker]="picker">
		<mat-hint>MM/DD/YYYY</mat-hint>
		<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		<mat-datepicker #picker></mat-datepicker>
	</mat-form-field>
	<div class="stock-radio-group-label">
		<label id="stock-radio-group-label">
			<p>Is it a low stock product?</p>
		</label>
		<mat-radio-group class="stock-radio-group" aria-label="Select an option">
			<mat-radio-button class="stock-radio-button" value="yes">Yes</mat-radio-button>
			<mat-radio-button class="stock-radio-button" value="no">No</mat-radio-button>
		</mat-radio-group>
	</div>
	<mat-form-field appearance="outline">
		<mat-label>Price</mat-label>
		<input matInput type="number" placeholder="Price">
	</mat-form-field>
	<mat-form-field class="example-full-width" appearance="outline">
		<mat-label>Comment</mat-label>
		<textarea matInput placeholder="Extra information"></textarea>
	  </mat-form-field>
</div>
<mat-dialog-actions >
    <button class="mat-raised-button" (click)="onClose()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="onSave()">Save</button>
</mat-dialog-actions>